body {
  background: rgb(19, 19, 20);
  background: linear-gradient(90deg, rgba(55,55,58,1) 0%, rgba(84,84,84,1) 49%, rgba(93,94,95,1) 100%);
}

#wrapper {
  margin: 24px auto;
  width: auto;
  padding: 24px;
  background: rgb(26, 26, 27);
  background: linear-gradient(90deg, rgba(55,55,58,1) 0%, rgba(84,84,84,1) 49%, rgba(93,94,95,1) 100%);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;

}

header{
  grid-column: span 12;
  padding-bottom: 24px;
}

#mainimg{
grid-column: span 12;
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
border: 2px solid black;
}

.roundedbox {
  padding: 10px;

  width: 70%;
  border: 2px solid black;
  background-color: grey;
  border-radius: 10px;
}

nav{
  border: 2px solid black;
  grid-column: span 2;
  background-color: darkgrey;

}

nav ul{
    padding: 0px;
    padding-bottom: 20px;
    
    margin: auto;


}
nav ul a{
  display: block;
  background-color: grey;

  width: 140px;


}

nav a{
  text-decoration: none;
  text-align: center;
  color: white;

}

nav a:hover{
  background-color: lightblue;
}

main{
grid-column: span 9;
background-color: grey;
color: white;
padding: 10px;
border: 2px solid black;
font-family: 'Roboto', sans-serif;
}
#avatarimg{
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
border: 2px solid black;
}

.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  margin-right: 6px;

  background-color: none;
  border-radius: 6px;
}

#title
{
  text-align: center;
  color: white;
  font-weight: bold;
}
